.personalizePage1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url("/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 2em 0em; */
}


/*•••••••••••••••••• MAIN •••••••••••••••••••••••••*/

.personalizePage1 main {
    width: calc(100% - 25%);
    min-height: 100vh;
    margin-left: auto;
    padding: 0em 2em;
    padding-top: 3em;
    padding-bottom: 2em;
}

.personalizePage1 main .banner {
    width: 100%;
    height: 220px;
    flex-shrink: 0;
    background-image: url("../images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
    padding: 1em 2em;
}

.personalizePage1 main .banner .head {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(14, 143, 132, 1);
    padding: 0em 1em;
}

.personalizePage1 main .banner .head ul {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 4em;
}

.personalizePage1 main .banner .head ul li {
    padding: 6px 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    color: #F7F3FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-right: 1px solid #51508E;
}

.personalizePage1 main .banner .head ul li .icon {
    font-size: 20px;
}

.personalizePage1 main .banner .head ul .ensBtn {
    display: flex;
    padding: 6px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #0E8F84;
}

.personalizePage1 main .banner .head ul .ensBtn img {
    height: 20px;
}

.personalizePage1 main .banner .head ul .ensBtn span {
    color: #F7F3FF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personalizePage1 main .banner .text {
    padding: 0em 1.4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
}

.personalizePage1 main .banner .text h1 {
    color: var(--text);
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personalizePage1 main .banner .text p {
    color: var(--text);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}


.personalizePage1 .ensDomainCont {
    width: 100%;
    height: auto;
    margin-top: 3em;
}

.personalizePage1 .ensDomainCont .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personalizePage1 .ensDomainCont .head .sec {
    display: flex;
    align-items: center;
    gap: 1em;
}

.personalizePage1 .ensDomainCont .head span {
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background: var(--states-black-overlay-focused, rgba(0, 0, 0, 0.12));
    color: var(rgba(0, 0, 0, 0.87));
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.personalizePage1 .ensDomainCont .head h1 {
    color: var(rgba(0, 0, 0, 0.87));
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.personalizePage1 .ensDomainCont .head p {
    color: var(--00-on-surface-medium-emphasis, rgba(0, 0, 0, 0.60));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
}

.personalizePage1 .ensDomainCont .head .sec1 {
    display: flex;
    align-items: center;
    gap: 1em;
}

.personalizePage1 .ensDomainCont .head .sec1 img.active {
    background: linear-gradient(184deg, rgba(247, 243, 250, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%), rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(35px);
}

.personalizePage1 .ensDomainCont .head .sec1 img {
    object-fit: cover;
    display: flex;
    padding: 9px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.personalizePage1 .ensDomainCont .domainList {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

.personalizePage1 .ensDomainCont .domianGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    flex-shrink: none;
    height: auto;
    margin: 1em 0em;
    gap: 20px;
}

.personalizePage1 .ensDomainCont .domainList .slider {
    display: flex;
    flex-shrink: none;
    height: auto;
    margin: 1em 0em;
    gap: 20px;
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.personalizePage1 .ensDomainCont .domainList {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

.personalizePage1 .ensDomainCont .domianGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    flex-shrink: none;
    height: auto;
    margin: 1em 0em;
    gap: 20px;
}

.personalizePage1 .ensDomainCont .box {
    display: flex;
    width: 300px;
    height: auto;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--stroke-border, #EFEDEE);
    background: var(--text);
}

.personalizePage1 .ensDomainCont .box .innerBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 110px;
    background-color: #E2EBFB;
    border-radius: 10px;
    /* padding-right: 3em; */
}

.personalizePage1 .ensDomainCont .box .innerBox img {
    object-fit: cover;
    height: 110px;
}

.personalizePage1 .ensDomainCont .box .innerBox .cover {
    width: 25%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: #DADCFF;
}

.personalizePage1 .ensDomainCont .box .innerBox .text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.personalizePage1 .ensDomainCont .box .innerBox h3 {
    display: flex;
    width: 80px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: var(--states-black-overlay-focused, rgba(0, 0, 0, 0.12));
    color: var(rgba(0, 0, 0, 0.87));
    font-family: Roboto;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.personalizePage1 .ensDomainCont .box .innerBox p {
    color: #1D222E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.personalizePage1 .ensDomainCont .box .innerBox a {
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--01-primary-500, #419FFF);
    color: var(--03-on-primary-high-emphasis, #FFF);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: 1.25px;
}
.personalizePage1 .ensDomainCont .btnCont {
    position: absolute;
    width: 51px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 4;
}

.personalizePage1 .ensDomainCont .btnCont.prev {
    left: 0%;
    top: 0%;
    justify-content: center;
    background: linear-gradient(270deg, #f0f9f8 0%, rgba(255, 227, 242, 0.00) 100%);
}

.personalizePage1 .ensDomainCont .btnCont.next {
    right: 0%;
    top: 0%;
    justify-content: flex-end;
    background: linear-gradient(270deg, #FFE3F2 0%, rgba(255, 227, 242, 0.00) 100%);
}

.personalizePage1 .ensDomainCont .btnCont button {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}