.createPopUp {
    z-index: 5;
    position: fixed;
    top: 12%;
    right: 4%;
    display: flex;
    width: 370px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3em 2em;
    gap: 3em 0em;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

.createPopUp li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0em 2em;
    cursor: pointer;
}
.createPopUp li p {
    color: #4A4A4A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}