section.publish {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaeaea;
      position: fixed;
    top: 0%;
    left: 0%;
    z-index: 9;
}

section.publish .box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding-bottom: 2em;
    border-radius: 10px;
    background: var(--text);
}

section.publish .box .head {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px 10px 0px 0px;
    background: var(--00-on-surface-high-emphasis, rgba(0, 0, 0, 0.87));
}

section.publish .box .head h1 {
    color: var(--text);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section.publish .box .head .icon {
    font-size: 35px;
    color: var(--text);
    cursor: pointer;
    display: flex;
    padding: 9px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--00-on-surface-high-emphasis, rgba(0, 0, 0, 0.87));
}

section.publish .box .childCont {
    gap: 25px;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

section.publish .box .childCont p {
    color: #7F839D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

section.publish .box .childCont .info {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid var(--outline, rgba(0, 0, 0, 0.12));
    background: #FFFBD3;
}

section.publish .box .childCont .infoIcon {
    width: 30px;
    height: 30px;
    background-color: var(--text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
}

section.publish .box .childCont .update {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    gap: 10px;
    background: var(--text);
    margin-top: 2em;
    border: 1px solid var(--outline, rgba(0, 0, 0, 0.12));
}

section.publish .box .childCont .update h1 {
    color: var(--00-on-surface-high-emphasis, rgba(0, 0, 0, 0.87));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 156.25% */
}

section.publish .box .childCont .update p {
    color: #7F839D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
}

section.publish .box .childCont .update .text {
    display: flex;
    align-items: center;
    gap: 10px;
}

section.publish .box .childCont .update label {
    display: flex;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background: rgba(217, 236, 255, 1);
    cursor: pointer;
}

section.publish .box .childCont .update .btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 65, 71);
    transition: 500ms ease-in-out;
}

section.publish .box .childCont .update input:checked+.btn {
    transform: translateX(95%);
    background: rgba(65, 159, 255, 1);
}

section.publish .box .childCont .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

section.publish .box .childCont .links .close {
    display: flex;
    padding: 16px 16px 16px 18px;
    align-items: flex-start;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--outline, rgba(0, 0, 0, 0.12));
    background: var(--surface, --text);
    cursor: pointer;
}

section.publish .box .childCont .links .publish {
    display: flex;
    padding: 16px 16px 16px 18px;
    align-items: center;
    color: var(--03-on-primary-high-emphasis, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    gap: 10px;
    border-radius: 4px;
    background: var(--01-primary-500, #419FFF);
    cursor: pointer;
}

section.publish .box .childCont .links .publish .icon {
    font-size: 20px;
}




/* ••••••••••••••••••••MOBILE RESPONSIVENESS•••••••••••••••••••••••••••• */

@media (max-width:768px) {
    section.publish {
        padding: 1em;
    }

    section.publish .box {
        width: 100%;
    }

    section.publish .box .childCont .update .btn {
        transform: translateX(-30%);
    }

    section.publish .box .childCont .update input:checked+.btn {
        transform: translateX(50%);
    }
}